<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HR-System @ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/img/favicon/favicon.ico" />

    @await Html.PartialAsync("Partial/_HeadStyleSheetPartial")
    @await Html.PartialAsync("Partial/_HeadScriptsPartial")
    @await Html.PartialAsync("Partial/_VueScriptsPartial")
</head>
<body>
    <div id="loading" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
            <div class="spinner-border spinner-border-lg text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <span class="app-brand-text demo menu-text fw-bolder ms-2">人力資源系統</span>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>
                <div class="menu-inner-shadow"></div>
                <ul id="menu-list" class="menu-inner py-1">
                    <li v-for="item in listItems" class="menu-item" v-bind:class="[{'active': item.isActive}, {'open': activeSubs(item.subItems) > 0}]">
                        <a class="menu-link" v-bind:class="{'menu-toggle': item.subItems.length > 0}" :href="item.link">
                            <i :class="`menu-icon tf-icon ${item.icon}`"></i>
                            <div>{{item.name}}</div>
                        </a>
                        <ul v-if="item.subItems.length > 0" class="menu-sub">
                            <li v-for="subItm in item.subItems" class="menu-item" v-bind:class="{active: subItm.isActive}">
                                <a class="menu-link" :href="subItm.link">
                                    <div>{{subItm.name}}</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <div class="layout-page">
                <nav id="layout-navbar" class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="~/img/defaultUser.png" alt="" class="w-px-40 h-auto rounded-circle">
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                @*<li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img src="../assets/img/avatars/1.png" alt="" class="w-px-40 h-auto rounded-circle">
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-semibold d-block">John Doe</span>
                                                <small class="text-muted">Admin</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bx bx-user me-2"></i>
                                        <span class="align-middle">My Profile</span>
                                    </a>
                                </li>*@
                                <li>
                                    <a class="dropdown-item" asp-controller="ModifyPassword" asp-action="Index">
                                        <i class="bx bx-user me-2"></i>
                                        <span class="align-middle">修改密碼</span>
                                    </a>
                                </li>
                                @*<li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bx bx-cog me-2"></i>
                                        <span class="align-middle">Settings</span>
                                    </a>
                                </li>*@
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/Login/Logout">
                                        <i class="bx bx-power-off me-2"></i>
                                        <span class="align-middle">登出</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                </nav>
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        @RenderBody()
                    </div>
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                @*© 2022 - HR - <a asp-controller="Home" asp-action="Privacy">Privacy</a>*@
                                © Copyright 2022. All Rights by PTMB
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    @await Html.PartialAsync("Partial/_FootScriptsPartial")

    <script src="~/js/sideMenu.js"></script>
    <script type="text/javascript">
        const control_route = '@ViewContext.RouteData.Values["controller"]?.ToString()';
        const action_route = '@ViewContext.RouteData.Values["action"]?.ToString()';
        const aside_menu = Vue.createApp({
            data() {
                return {
                    listItems: sideMenuItems(control_route, action_route),
                }
            },
            created() {},
            methods: {
                activeSubs: function (items) {
                    const activeCount = items.filter(i => i.isActive === true).length;
                    return activeCount;
                }
            },
        }).mount('#menu-list');
    </script>
</body>
</html>
