@{
    ViewData["Title"] = "忘記密碼";
}
<div class="authentication-inner py-4">
    <div class="card">
        <div class="card-body">
            <div class="app-brand justify-content-center">
                <span class="app-brand-text demo text-body fw-bolder">人力資源系統</span>
            </div>
            <h4 class="mb-2">忘記密碼？ 🔒</h4>
            <p class="mb-4">請輸入您的Email，稍後將寄送重新設定密碼的說明予您。</p>
            <form id="formAuthentication" class="mb-3" asp-controller="Login" asp-action="ForgetPassword" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="text" class="form-control" placeholder="請輸入Email" autofocus />
                </div>
                <button type="submit" class="btn btn-primary d-grid w-100">寄送重新設定連結</button>
            </form>
            <div class="text-center">
                <a class="d-flex align-items-center justify-content-center" asp-action="Index">
                    <i class="bx bx-chevron-left scaleX-n1-rt1 bx-sm"></i>
                    回登入頁
                </a>
            </div>
        </div>
    </div>
</div>