@{
    ViewData["Title"] = "測驗結束";
    Layout = "../../../../Views/Shared/Layout/_BlankLayout";
}

<div class="card mb-5">
    <div class="card-header d-flex justify-content-center mt-3">
        <h3>測驗結束</h3>
    </div>
    <div class="card-body">
        測驗結束
    </div>
    @*<hr class="m-0" style="height: 0.25rem;" />
    <div class="card-body">
    <ol class="mx-5 mt-3">
    <li style="padding:.58rem .9375rem;">本測驗分為三步驟，請詳閱每步驟的說明後再進行作答。</li>
    <li style="padding:.58rem .9375rem;">本測驗限時15分鐘，請於時間內作答完畢並送出。</li>
    </ol>
    </div>*@
    <div class="card-footer text-center">
        <a class="btn btn-link btn-outline-primary" href="https://ptmbhd.com/" target="_self">回首頁</a>
    </div>
</div>